section {
  padding-top: 15px;
  padding-bottom: 15px;
}

#sec-name {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/backdrop.png");
  background-position: center top;
}

#links a:hover svg {
  color: lightblue !important;
}

#sec-resume {
  background-color: #434242;
}

#sec-contact a {
  text-decoration: none;
  border-bottom: 1px white dashed;
}

#sec-contact a:hover {
  color: lightblue;
  border-bottom: 1px lightblue dashed;
}

.img-project {
  border-radius: 15px;
  max-width: 100%;
  max-height: 200px;
}

.img-profile {
  max-height: 250px;
  max-width: 50%;
}

.row-project {
  margin-bottom: 25px;
}

.row-education {
  margin-bottom: 15px;
}

.row-work {
  margin-bottom: 15px;
}

.row-social {
  font-size: 22px;
}

.item-title {
  font-weight: bold;
  font-size: 18pt;
  margin-bottom: 0;
}

.item-date {
  font-style: italic;
  text-align: right;
}

.item-extra {
  font-size: 14pt;
}
