h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
    margin-bottom: 5px;
}

.NewType {
    border-width:2px;
    border-color: #000000;
    border-style: solid;
    margin: 5px;
    padding: 5px;
    max-height: 50vh;
    overflow:scroll;
}

#VariablesTable {
    width:50%;
}

#DataTable {
    width:50%;
}

#DataTable td {
    padding-left: 10px;
    padding-right: 10px;
}

#DataTable .Title {
    font-weight: bold;
    text-align: right;
}

#DataSchedules {
    width:100%;
}

#DataSchedules td {
    text-align: center;
    vertical-align: top;
}

#EventManagerLogHolder {
    border: 1;
    border-color: #000000;
    border-style: solid;
    max-height: 30vh;
    overflow:scroll;
}

.DisplayTestClock {
    font-family: monospace;
    font-size: 18px;
}

.colon.flashed {
    color: #aaaaaa;
}

.hidden {
    height: 3em;
    overflow: hidden;
}

.hideshow {
    cursor: pointer;
    text-decoration: underline;
    font-size: 11px;
    color: #aaaaff;
}


.DisplaySettingsContainer {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 65px;
    background-color: #ffffff;
    color: #000000;
}

.DisplaySettingsContainer .colon {
}

.DisplaySettingsContainer .colon.flashed {
    color: #aaaaaa;
}